*{
    margin:0;
    padding:0;
}

.news {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sorties {
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcoming-events{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}


.football {
  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.football-info {
   
    display:flex;
    height:100vh;

}



