*{
    margin:0;
    padding:0;
}
.Student{
    width:100%;
    min-height:100vh;   
}
.news {
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sorties {
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcoming-events{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}


.football {
    min-height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inscription{
    width:100%;
    height:100%;
    background-color: red;
}

