* {
  font-family: IBM Plex Sans, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.swiper {
  width: 900px
}

.F3-logo:hover {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  background-image: url('../../public/images/starry-night.jpg');
  min-height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
}

.section2 {
    background: #ffffff;
    min-height: 100vh;
}

.opacity {
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 100vh;
  padding-top: 8vh
}

.opacity2 {
  min-height: 100vh;
  padding-top: 10vh
}

.act-img {
  border-radius: 20px;
  height: 70%;
  width: auto
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}