* {
  font-family: IBM Plex Sans, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.swiper {
  width: 900px
}

.F3-logo:hover {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
  background-image: url('../../public/images/starry-night.jpg');
  min-height: 100vh;
  background-repeat:no-repeat;
  background-size: cover;
}

.section2 {
  background-image: url('../../public/images/tubes.jpg');
  background-size: cover;
  min-height: 70vh;
}

.opacity {
  background-color: rgba(255, 255, 255, 0.1);
  min-height: 100vh;
  padding-top: 8vh
}

.opacity2 {
  min-height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.act-img {
  border-radius: 20px;
  height: 70%;
  width: auto
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.opacity3 {
  min-height: 70vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  font-size: 30px;
  font-weight: 500;
  color: white !important;
}

.together {
  margin-top: 20px;
}

.quote-block {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center !important;
  padding: 0 20px 0 20px !important;
}

.become-cuber {
  margin-top: 60px; 
  font-size: 25px; 
  font-weight: 700;
  box-shadow: 5px 5px 5px black;
  background: rgb(206, 206, 206);
  cursor: pointer;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}

.back-to-top {
  cursor: pointer;
  position: sticky;
  top: 90%;
  left: 90%;
  text-align: center;
  background: #0a7992;
  padding: 10px 20px 10px 20px;
  border: 2px solid white !important;
  border-radius: 50px;
  color: white;
  font-size: 20px;
  font-weight: 700;
  z-index: 10
}