* {
  font-family: IBM Plex Sans, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #80CCEA;
  width: 100%;
  margin: 0;
  padding: 0;
}

a:link {
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.section {
    background-image: url('../../public/images/light-yellow.jpg');
    min-height: 95vh;
    background-repeat:no-repeat;
    background-size: cover;
}

.section2 {
    background-image: url('../../public/images/light-blue.jpg');
    min-height: 95vh;
    background-repeat:no-repeat;
    background-size: cover;
}

.opacity {
  background-color: rgb(250, 250, 250, 0.5);
  min-height: 95vh;
}

.background-img {
  background: 'url(./light-blue.jpg)'
}

.act-img {
  border-radius: 20px;
  height: 70%;
  width: auto
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}