/* Button J'agis */
.act-button {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-color: #BE0128;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.2);
    size: 24px;
    padding: 10px;
    font-weight: bold;
}

.button-discover {
    border-radius: 5px;
    border: none;
    background-color: #BE0128;
    font-size: 25px;
    padding: 15px 32px;
    text-transform: 'none';
    color: white;
    font-weight: bold;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.2);
}

.button-main {
    min-width: 220;
    height: 60;
    filter: "drop-shadow(0px 4px 4px #004636)";
    width: 40%;
    background-color: white;
    border-radius: 5px;
    font-size: 21px;
    padding: 10px 30px;
    border: none;
    text-transform: none;
    color: #004636;
    font-weight: 900;
    box-shadow: 0px 4px 4px #004636;
}