.member-card {
    height: 380px !important;
    border-radius: 20px !important;
    background: linear-gradient(#075668,white 47%) !important;
}

.member-name {
    height: 30px;
    border-bottom: 1px solid black;
    white-space: nowrap;
}

.avatar {
    margin-top: 30px;
    height:150px;
    border-radius:250px;
    z-index: 10;
}

.team-subtitle {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 30px 0 30px 0;
    font-weight: 600;
}

.reverse-card {
    display: flex !important;
    flex-direction: row-reverse !important;
    margin-bottom: 8 !important;
}

@media screen and (max-width: 600px){
    .reverse-card {
        flex-direction: row !important;
    }
}