.footer-content {
    width: 100%;
    padding-top: 10px;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.7;
    padding-bottom:40px;
}

.footer-panel {
    height: 100%;
    width: 100%
}

.footer-panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height:100%;
}

/* Style du petit footer tout en bas avec le logo et les mentions légales */

.lowest-footer {
    background: rgb(219, 216, 216);
    padding-top: 30px;
    min-height: 22vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.5;
    color: black
}

.lowest-footer-panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
}

.F3-credentials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:30px;
    white-space: nowrap;
    font-size: 13px;
}

.email:link {
    color: black;
}

/* Style de la carte */

.map-container {
    height: 500px;
    width: 800px;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-bottom: 50px;
}

.map-PopUp-title {
    font-size:15px;
    font-weight: 600;
    line-height: 1
}

/* .map-PopUp-subtitle {
    font-size:18px;
    font-weight: 400;
    line-height: 1
} */

.map-tiles {
    filter: brightness(0.6) invert(1) contrast(8) hue-rotate(200deg) saturate(0.1) brightness(0.7);
}

.F3-logo-footer {
    width: 70px;
}

/* Partie responsive */

@media screen and (max-width: 400px){
    .map-container {
        max-width: 290px !important;
    }
    .lowest-footer-panel-content,
    .F3-credentials {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .F3-logo-footer {
        padding-top: 30px;
    }
}

@media screen and (max-width: 500px){
    .map-container {
        max-width: 340px;
    }
    .lowest-footer-panel-content,
    .F3-credentials {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .F3-logo-footer {
        padding-top: 30px;
    }
}

@media screen and (max-width: 600px){
    .map-container {
        max-width: 430px;
    }
    .lowest-footer-panel-content,
    .F3-credentials {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .F3-logo-footer {
        padding-top: 30px;
    }
}

@media screen and (max-width: 700px){
    .map-container {
        width: 500px;
    }
    .lowest-footer-panel-content,
    .F3-credentials {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .F3-logo-footer {
        padding-top: 30px;
    }
}

@media screen and (max-width: 900px){
    .map-container {
        width: 550px;
    }
    .lowest-footer-panel-content,
    .F3-credentials {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .F3-logo-footer {
        padding-top: 30px;
    }
}

@media screen and (max-width: 1200px){
    .map-container {
        margin-top:40px;
        margin-bottom: 40px;
    }
}