.nav {
    background-color:  #007AAA;
    position: sticky;
    top: 0px;
    width: 100%;
    display: flex;
  }
  
.nav-logo {
    height: 60px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-item {
    color: #FFFFFF;
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    /* background-color: purple; */
}

.nav-item:after {
    color: #FFFFFF;
    content: "";
    position: absolute; 
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: #FFFFFF;
    height: 2px;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.nav-item:hover:after,
.nav-item:focus:after,
.nav-item:active:after {
    left: 0;
    right: auto;
    width: 100%;
    color: #FFFFFF;
}

/* .nav-item > .active {
    border-bottom: 1px solid #333;
} */

.menu-btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
}

@media screen and (max-width: 500px){
    .nav-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .nav-item:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .nav-item {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 10px 0;
        position: relative;
        text-decoration: none;
        cursor: pointer;
        display: block;
    }

    .nav-item:after {
        color: #FFFFFF;
        content: "";
    }

    .nav-item:hover:after,
    .nav-item:focus:after,
    .nav-item:active:after {
        left: 0;
        right: auto;
        width: 100%;
        color: #FFFFFF;
    }
    .menu-btn {
        display: block;
    }
}