.jumbotron-image {
    /* height: 10vh;
    min-width: 300px; */
    background-image: url("../../public/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-opacity {
    display: flex;
    /* flex-direction: column; */
    /* justifyContent: "space-around"; */
    align-items: center;
    /* height: 10vh; */
    background-color: rgba(243, 243, 243, 0.59);
    color: #004636
}